*{
    margin: 0;
    padding: 0;
}


.navbar{

    height: 90px;
    width: 100%;
    background-color: cornflowerblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;

    
}

.links{
    
    margin-top: 20px;
    margin-right: 20px;
   
}


.links ul{
    display: flex;
    gap: 40px;
    list-style: none;
    
    
    
}
.fix{
    height: 90px;
    width: 100%;
}

.welcomepage{
    height: 817px;
    background-image: url(../img/background.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    
}














.welcomeheading{
    font-size: 60px;
    color: white;
    
    
}








.welcomep{
    color:cornflowerblue;
  
}






.main{
    height: 710px;
    width:100%;
    display: flex;
    text-align: center;
     
      

}




.main2{
    height: 710px;
    width:100%;
    display: flex;
    text-align: center;
    
}






.main3{
    height: 710px;
    width:100%;
    display: flex;
    text-align: center;
    
}



.box1{
    height: 650px;
    width:33.3%;
    margin: 1%;
    border: solid;
    box-shadow: 5px 5px 5px;
    
    
    
}



.links ul li a{
    text-decoration: none;
    color:white;
    width: 20%;
    
}







.contact{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(../img/Contact_Us_KV_1440x640.webp);
    background-position: center;
    background-size: cover;
    
    
    
}

.contactbox1{
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}




.contactbox2{
height: 350px;
width: 45%;
margin: 5%;
border: solid;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
border-radius: 10%;

}

.contactbox3{
    height: 350px;
    width: 45%;
    margin: 5%;
    border: solid;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10%;
    
    
    }


    .contactinfo{
        width: 100%;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
       
        
    }





    .colorwhite{
        color: white;
        text-align: center;
        font-size: 30px;
        
        
    }




    
